/* Theme color */
$primary-grey: #F3F5FB;
$secondary-grey: #F9F9F9;
$dark-blue: #0F296D;
$mid-blue: #3054AF;
$light-blue: #8E9ABA;
$red: #F1554C;
$light-red: #F5ADA9;
$pink: #FFA5A0;
$light-pink: #FFD5D2;
/* buttons */
$blue-gradient: linear-gradient(225deg, #375DBE 2.5%, #102A6D 93.23%, rgba(16, 42, 109, 0) 100%);
$blue-shadow: drop-shadow(0px 4px 21px rgba(16, 42, 109, 0.29));
$default-shadow: 0px 7.56px 47.88px rgba(0, 0, 0, 0.04);
$sm-shadow: 0px 3.36px 26.04px rgba(0, 0, 0, 0.1);
$header-shadow: 0px 3.36px 33.6px rgba(0, 0, 0, 0.06);
/* Typography */
$text-dark-blue: #0F296D;
$text-black: #393D54;
$text-grey: #999999;
$text-light-grey: #D6D6D6;

$border-color: rgba(204, 204, 204, 0.74);
