@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Theme color */
/* buttons */
/* Typography */
*,
*::after,
*::before,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  box-sizing: border-box;
  margin: 0; }

html {
  width: 100%;
  overflow-x: hidden; }

a {
  text-decoration: none; }

* {
  transition: 0.32s; }

body {
  width: 100%;
  overflow-x: hidden;
  background-color: #F3F5FB;
  font-family: 'Poppins', "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed; }

ul {
  display: flex;
  align-items: center;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style-type: none; }

.fs-xxs {
  font-size: 10.08px; }

.fs-xs, .main-content .main-part .top-header .input input::placeholder, .main-content .main-part .last-content .performers select {
  font-size: 11.76px; }

.fs-sm {
  font-size: 13.44px; }

.fs-md {
  font-size: 14px; }

.fs-lg {
  font-size: 15.12px; }

.fs-xl {
  font-size: 16.8px; }

.fs-xxl {
  font-size: 20.16px; }

.fs-bxxl {
  font-size: 32px; }
  @media (max-width: 480px) {
    .fs-bxxl {
      font-size: 24px; } }

.fw-100 {
  font-weight: 100; }

.fw-200 {
  font-weight: 200; }

.fw-300 {
  font-weight: 300; }

.fw-400 {
  font-weight: 400; }

.fw-500, .main-content .main-part .last-content .performers select {
  font-weight: 500; }

.fw-600 {
  font-weight: 600; }

.fw-700 {
  font-weight: 700; }

.fw-800 {
  font-weight: 800; }

.fw-900 {
  font-weight: 900; }

.br-xxs {
  border-radius: 3.36px; }

.br-m-xs {
  border-radius: 6.72px; }

.br-xs, .main-content .main-part .last-content .performers select {
  border-radius: 8.04px; }

.br-s-xs {
  border-radius: 8.4px 0px 0px 8.4px; }

.br-sm {
  border-radius: 9.24px; }

.br-md {
  border-radius: 19.32px; }

.br-lg {
  border-radius: 20px; }

.br-b-lg {
  border-radius: 0px 0px 20.16px 20.16px; }

.br-xl {
  border-radius: 25.2px; }

.br-xxl {
  border-radius: 37.72px; }

.text-dark-blue, .main-content .sidebar .inner .ul-sidebar .side-item.active {
  color: #0F296D; }

.text-black, .main-content .main-part .last-content .performers select {
  color: #393D54; }

.text-grey {
  color: #999999; }

.text-light-grey, .main-content .main-part .top-header .input input::placeholder {
  color: #D6D6D6; }

.text-red {
  color: #F1554C; }

.blue-shadow {
  filter: drop-shadow(0px 4px 21px rgba(16, 42, 109, 0.29)); }

.default-shadow {
  box-shadow: 0px 7.56px 47.88px rgba(0, 0, 0, 0.04); }

.sm-shadow {
  box-shadow: 0px 3.36px 26.04px rgba(0, 0, 0, 0.1); }

.header-shadow {
  box-shadow: 0px 3.36px 33.6px rgba(0, 0, 0, 0.06); }

.bg-p-grey {
  background-color: #F3F5FB; }

.bg-s-g {
  background-color: #F9F9F9; }

.bg-red {
  background-color: #F1554C; }

.bg-light-red {
  background-color: #F5ADA9; }

.bg-pink {
  background-color: #FFA5A0; }

.bg-light-pink {
  background-color: #FFD5D2; }

.bg-dark-blue, .main-content .sidebar .inner .ul-sidebar .side-item {
  background-color: #0F296D; }

.bg-light-blue {
  background-color: #8E9ABA; }

.bg-blue-grandient {
  background: linear-gradient(225deg, #375DBE 2.5%, #102A6D 93.23%, rgba(16, 42, 109, 0) 100%);
  filter: drop-shadow(0px 4px 21px rgba(16, 42, 109, 0.29)); }

.default-border, .main-content .main-part .top-header .input, .main-content .main-part .last-content .performers select {
  border: 0.84px solid rgba(204, 204, 204, 0.74); }

.ms-xxs {
  margin-left: 2.8px; }

.mb-xs {
  margin-bottom: 5.8px; }

.me-xs {
  margin-right: 5.8px; }

.p-sm {
  padding: 13.44px; }

.mb-sm {
  margin-bottom: 13.44px; }

.px-sm {
  padding-right: 13.44px;
  padding-left: 13.44px; }

.ps-sm {
  padding-left: 13.44px; }

.ps-em {
  padding-right: 13.44px; }

.px-md {
  padding-right: 22px;
  padding-left: 22px; }

.mx-md {
  margin-right: 22px;
  margin-left: 22px; }

.py-md {
  padding-top: 22px;
  padding-bottom: 22px; }

.p-md {
  padding: 22px; }

.mb-md {
  margin-bottom: 22px; }

.px-lg {
  padding-right: 33px;
  padding-left: 33px; }
  @media (max-width: 768px) {
    .px-lg {
      padding-right: 22px;
      padding-left: 22px; } }
  @media (max-width: 576px) {
    .px-lg {
      padding-right: 17px;
      padding-left: 17px; } }

.py-lg {
  padding-top: 33px;
  padding-bottom: 33px; }
  @media (max-width: 991px) {
    .py-lg {
      padding-top: 22px;
      padding-bottom: 22px; } }
  @media (max-width: 576px) {
    .py-lg {
      padding-top: 17px;
      padding-bottom: 17px; } }

.p-lg {
  padding: 33px; }
  @media (max-width: 768px) {
    .p-lg {
      padding: 22px; } }
  @media (max-width: 576px) {
    .p-lg {
      padding: 17px; } }

.pe-lg {
  padding-right: 33px; }

.mx-lg {
  margin-right: 33px;
  margin-left: 33px; }

.mb-lg {
  margin-bottom: 33px; }
  @media (max-width: 576px) {
    .mb-lg {
      margin-bottom: 22px; } }

.me-lg {
  margin-right: 33px; }

.px-xl {
  padding-right: 42px;
  padding-left: 42px; }
  @media (max-width: 576px) {
    .px-xl {
      padding-right: 17px;
      padding-left: 17px; } }

.py-xl {
  padding-top: 42px;
  padding-bottom: 42px; }

.p-xl {
  padding: 42px; }

.mx-xl {
  margin-right: 42px;
  margin-left: 42px; }

.ms-xl {
  margin-left: 42px; }

.me-xl {
  margin-right: 42px; }

.ls-sm {
  letter-spacing: -1px; }

.ls-md {
  letter-spacing: -0.5px; }

.main-content .hamberger {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4px;
  left: 19px;
  cursor: pointer; }
  @media (min-width: 576px) {
    .main-content .hamberger {
      top: 6px;
      left: 42px; } }
  @media (min-width: 1200px) {
    .main-content .hamberger {
      display: none; } }
  .main-content .hamberger .line {
    width: 28px;
    height: 3px;
    background: black;
    margin: 2.5px 0;
    border-radius: 7px; }
.main-content .sidebar {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 240px; }
  @media (max-width: 1199px) {
    .main-content .sidebar {
      left: -250px; } }
  .main-content .sidebar.active {
    left: 0; }
  .main-content .sidebar .times {
    position: absolute;
    top: 19px;
    right: 7px;
    cursor: pointer; }
    .main-content .sidebar .times .line {
      width: 28px;
      height: 3px;
      background: white;
      border-radius: 7px; }
      .main-content .sidebar .times .line.line1 {
        transform: rotate(45deg); }
      .main-content .sidebar .times .line.line2 {
        transform: rotate(-45deg);
        margin-top: -3px; }
    @media (min-width: 1200px) {
      .main-content .sidebar .times {
        display: none; } }
  .main-content .sidebar .inner .ul-sidebar {
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */ }
    .main-content .sidebar .inner .ul-sidebar::-webkit-scrollbar {
      display: none; }
    .main-content .sidebar .inner .ul-sidebar .side-item {
      padding-left: 30px; }
      .main-content .sidebar .inner .ul-sidebar .side-item a {
        padding-left: 28px;
        height: 100%; }
      .main-content .sidebar .inner .ul-sidebar .side-item.first-item a {
        margin-left: -14px; }
        .main-content .sidebar .inner .ul-sidebar .side-item.first-item a .text {
          margin-left: -5px; }
      .main-content .sidebar .inner .ul-sidebar .side-item.active {
        background: #F3F5FB;
        border-radius: 51.24px; }
      .main-content .sidebar .inner .ul-sidebar .side-item.after-active {
        border-radius: 0 31.08px 0 0; }
      .main-content .sidebar .inner .ul-sidebar .side-item.before-active {
        border-radius: 0 0 31.08px 0; }
      .main-content .sidebar .inner .ul-sidebar .side-item.last-item {
        padding: 140px 33px 33px; }
        @media only screen and (max-height: 935px) {
          .main-content .sidebar .inner .ul-sidebar .side-item.last-item {
            padding-top: 104px; } }
        @media only screen and (min-height: 900px) {
          .main-content .sidebar .inner .ul-sidebar .side-item.last-item {
            height: 475px; } }
        .main-content .sidebar .inner .ul-sidebar .side-item.last-item .content .points {
          position: absolute;
          top: 14px;
          right: 14px; }
.main-content .main-part {
  margin-left: 240px;
  max-width: 1200px; }
  @media (max-width: 1199px) {
    .main-content .main-part {
      margin-left: unset; } }
  .main-content .main-part .top-header .input {
    padding-right: 19px; }
    .main-content .main-part .top-header .input input {
      background: unset;
      outline: unset;
      border: unset;
      margin-top: -5px;
      height: 33px; }
  .main-content .main-part .top-header .user-tools .bell .active {
    padding: 3px;
    top: 4.5px;
    right: 3.5px; }
  @media (max-width: 480px) {
    .main-content .main-part .top-boxes .box-item {
      width: 50%;
      padding-right: 5.8px;
      padding-left: 5.8px; } }
  @media (max-width: 767px) {
    .main-content .main-part .top-boxes .box-item > div {
      padding-top: 6px;
      padding-bottom: 6px; } }
  .main-content .main-part .top-boxes .box-item .text .number {
    margin-bottom: -9px;
    white-space: nowrap; }
  .main-content .main-part .top-boxes .box-item .vline {
    height: 64px; }
    @media (max-width: 990px) {
      .main-content .main-part .top-boxes .box-item .vline {
        margin-left: 22px;
        margin-right: 22px; } }
    @media (max-width: 767px) {
      .main-content .main-part .top-boxes .box-item .vline {
        margin-left: 1px;
        margin-right: 1px; } }
  .main-content .main-part .top-boxes .box-item .box-inner {
    min-width: 80px;
    min-height: 80px; }
    @media (max-width: 767px) {
      .main-content .main-part .top-boxes .box-item .box-inner {
        transform: scale(0.66); } }
    @media (max-width: 380px) {
      .main-content .main-part .top-boxes .box-item .box-inner {
        transform: scale(0.56); } }
    .main-content .main-part .top-boxes .box-item .box-inner img {
      margin-bottom: -7px; }
  @media (max-width: 990px) {
    .main-content .main-part .top-boxes .box-item .box-inner, .main-content .main-part .top-boxes .box-item .vline, .main-content .main-part .top-boxes .box-item .number {
      transform: scale(0.8); }
    .main-content .main-part .top-boxes .box-item .sub-text {
      transform: scale(0.96);
      margin-left: 5px; } }
  @media (max-width: 990px) {
    .main-content .main-part .mid-content > div {
      padding-right: 13px !important;
      padding-left: 13px !important; } }
  @media (max-width: 466px) {
    .main-content .main-part .mid-content .boxes .box {
      width: 45%; } }
  @media (max-width: 380px) {
    .main-content .main-part .mid-content .boxes .box {
      width: 50%; } }
  .main-content .main-part .mid-content .result {
    border-left: 20.16px solid #F1554C; }
  .main-content .main-part .mid-content .chart #container {
    max-height: 217px;
    max-width: 100%; }
    @media (min-width: 991px) {
      .main-content .main-part .mid-content .chart #container {
        flex: 1 0 0; } }
    @media (min-width: 680px) {
      .main-content .main-part .mid-content .chart #container {
        width: 420px; } }
  @media (max-width: 990px) {
    .main-content .main-part .last-content > div {
      padding-right: 13px !important;
      padding-left: 13px !important; } }
  @media (min-width: 990px) {
    .main-content .main-part .last-content .chart {
      transform: rotate(-6.69deg) translate(49px, -30px); } }
  .main-content .main-part .last-content .chart #Tooltip #value {
    white-space: nowrap; }
  .main-content .main-part .last-content .performers select {
    padding: 8px 2px 8px 8px;
    background: unset;
    outline: unset; }
  @media (max-width: 410px) {
    .main-content .main-part .last-content .performers .cards .card-item {
      width: 70%; } }
  .main-content .main-part .last-content .performers .cards .card-item .top-icon {
    position: absolute;
    top: -5px;
    right: -4px; }
  .main-content .main-part .last-content .performers .cards .btn {
    width: 126px;
    padding: 9.6px 0;
    white-space: nowrap; }
    @media (max-width: 990px) {
      .main-content .main-part .last-content .performers .cards .btn {
        padding-right: 13px !important;
        padding-left: 13px !important; } }
  .main-content .main-part .chart .labels .label {
    margin-right: 7px; }
    .main-content .main-part .chart .labels .label .color .c-inner {
      width: 21px;
      height: 21px; }
.main-content .main-circle {
  position: absolute;
  width: 85px;
  height: 89px;
  left: 1450px;
  top: 840px;
  border-radius: 50%;
  background: radial-gradient(83.21% 58.42% at 23.71% 35.64%, #FA7C75 0%, #F1554C 100%);
  box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.1); }

.tooltipDivdoughnut.doughnut_svg {
  background: unset !important; }

/*# sourceMappingURL=main.css.map */
